$pink-color: #ad3db9;

.landing-page-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
  padding-top: 65px;
  background: rgb(220, 37, 151);
  background: linear-gradient(
    156deg,
    rgba(220, 37, 151, 1) 0%,
    rgba(103, 24, 109, 1) 37%,
    rgba(25, 16, 81, 1) 100%
  );
}

.text-container {
  flex: 45%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__header {
    font-size: 60px;
    font-weight: bold;
    text-align: start;
    margin-bottom: 40px;
    font-family: monospace;
    background: -webkit-linear-gradient(#f8f9fa, #8a57ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    color: #ad3db9;
    font-size: 18px;
    width: 80%;
  }

  &__button {
    margin-top: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #ad3db9;
    font-weight: bold;
    border-radius: 28px;
    background: #ad3db9;
    color: white;
    padding: 14px 20px;
  }

  &__button:hover {
    text-decoration: none;
  }
}

.image-container {
  flex: 55%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__background {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .text-container {
    &__header {
      font-size: 45px;
    }
  }
}

@media (max-width: 768px) {
  .landing-page-container {
    flex-direction: column-reverse;
  }
  .text-container,
  .image-container {
    flex: auto;
  }
}
