@import './../../shared/styles/styles.scss';

.bet-page {
  height: 100vh;
  padding-top: 200px;
  background-image: url(https://media.istockphoto.com/id/1186340478/vector/soccer-football-player-game-match-fans-outline-icons-seamless-background-pattern.jpg?s=612x612&w=0&k=20&c=_uiAb_xUu6y3bK5r4j3QsgxFbXolbFdAeWceThqcfm4=);

  &__match-container {
    border-radius: 5px;
    background: #ffffffe8;
    padding: 50px 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

.match__item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  margin: 0px 5px;
  cursor: pointer;
  background: $green-gradient;
}

.matches {
  // width: 50%;
}

.match {
  width: 100%;
}

.result-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ddd;
  }
}