.desktop-menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    height: 65px;
    background: #00000085;

    &__logo{
        margin: 0 20px;
    }

    &__items{
        display: flex;
        list-style: none;

        li {
            margin: 0 15px;
            
            a{
            font-size: 20px;
            color: white;
        }}
    }
}

.logout-btn{
    background: transparent;
    border-radius: 5px;
    color: white;
    border: 1px solid;
    padding: 5px 10px;
}